body{background-color: rgb(230, 6, 81);}
.test1 {
    background-color: rgb(136, 255, 0);
    font-size: large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.test2 {
    background-color: chartreuse; 
    font-size: large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.test3 {
    background-color: chartreuse; font-size: large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img{
width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
}

.test4 {
    background-color: chartreuse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}